<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Arduino PI Weather API</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/github-markdown.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/pilcrow.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/hljs-github.min.css') }}">
  </head>
  <body>
    <article class="markdown-body"><h1 id="arduino-pi-weather-api"><a class="header-link" href="#arduino-pi-weather-api"></a>Arduino PI Weather API</h1>
<h4 id="this-page-includes-documentation-for-developing-with-the-arduino-weather-station-api"><a class="header-link" href="#this-page-includes-documentation-for-developing-with-the-arduino-weather-station-api"></a>This page includes documentation for developing with the arduino weather station api</h4>
<p>Fetches All Weather Records</p>
<pre class="hljs"><code><span class="hljs-attribute">GET /api/weather</span></code></pre><p>Get the most recent weather forecasts</p>
<pre class="hljs"><code><span class="hljs-attribute">GET /api/weather/recent</span></code></pre><p>As of now there are only two arguments <strong>begin</strong> and <strong>end</strong>. These process the data only from the begin date to the <strong>end</strong> date.</p>
<pre class="hljs"><code><span class="hljs-attribute">GET /api/weather?begin="2018-08-23 21:27:49"
GET /api/weather?end="2018-08-23 21:27:49"
GET /api/weather?begin="2018-08-22"&amp;end="2018-08-24"</span></code></pre>    </article>
  </body>
</html>
